#backgroundImage{
    -fx-background-image: url(../Images/Plansza_2.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#blackPawn{
    -fx-background-image: url("../Images/Pionek_B.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

    -fx-background-radius: 300em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

#whitePawn{
    -fx-background-image: url("../Images/Pionek_Cz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;

    -fx-background-radius: 300em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}

#changeTurn{
    -fx-background-radius: 30em;
    -fx-pref-width: 150px;
    -fx-max-width: 200;
    -fx-min-height: 30px;
    -fx-max-height: 43px;
    -fx-background-color: whitesmoke;
}

.button {
/*    -fx-background-image: url("Images/Pionek_Cz.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;*/

    -fx-background-radius: 300em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}